<footer class="footer bg-dark text-white text-center py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
       <ul class="list-inline social-icons">
          <li><a href="https://discord.com/users/1170055357830275214" target="_blank"><i class="fab fa-discord"></i></a></li>
          <li><a href="https://github.com/Jonnathan4rt" target="_blank"><i class="fab fa-github"></i></a></li>
          <li><a href="https://www.linkedin.com/in/jonnathan4rt/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
        </ul> 
        <span>{{ date | date : 'yyyy' }} © IMG Optimiz</span>
      </div>
    </div>
  </div>
</footer>
